<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to the Parking System</title>
</head>
<body>
  <div class="container d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
      <h1 class="mb-4">Welcome to the Parking System</h1>
      <form (submit)="login()" class="needs-validation" novalidate>
        <div class="mb-3 row">
          <label for="email" class="col-sm-2 col-form-label text-right">Email </label>
          <div class="col-sm-10">
            <input type="email" class="form-control mb-2" id="email" name="email" [(ngModel)]="user.email" required>
            <div class="invalid-feedback d-block" *ngIf="emailFormatError">{{ emailFormatError }}</div>
          </div>
        </div>
        <div class="mb-3 row">
          <label for="password" class="col-sm-2 col-form-label text-right">Password </label>
          <div class="col-sm-10">
            <input type="password" class="form-control mb-2" id="password" name="password" [(ngModel)]="user.password" required>
            <div class="invalid-feedback d-block" *ngIf="passwordError">{{ passwordError }}</div>
          </div>
        </div>
        <div class="mb-3 row">
          <div class="col-sm-10 offset-sm-2">
            <button type="submit" class="btn btn-primary btn-lg font-weight-bold">Login</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</body>
</html>
