<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Parking System</title>
</head>
<body>
  <div class="container">
    <h2 class="mt-4 center-content" >Select Parking System</h2>
    <select class="form-select w-50 center-select" [(ngModel)]="selectedParkingSystemId" (ngModelChange)="onSelectParkingSystem()">
      <option [ngValue] =  0 >----</option>
      <option *ngFor="let parkingSystem of parkingSystems" [value]="parkingSystem.id">
        {{ parkingSystem.identifier }}
      </option>
    </select>
  
    <div class="table-container mt-4">
      <h2>Rules</h2>
  
      <ng-container *ngIf="isParkingSystemSelected===false">
        <div class="alert alert-warning text-center r w-50 mx-auto" role="alert">
          No parking system selected.
        </div>
      </ng-container>
      <ng-container *ngIf="selectedParkingSystemId !== 0 && selectedParkingSystemRules.length === 0">
        <div class="alert alert-info text-center w-50 mx-auto" role="alert">
          No available rules for the selected parking system.
        </div>
      </ng-container>
      <table *ngIf="selectedParkingSystemId !== 0 && selectedParkingSystemRules.length > 0" class="table table-bordered table-condensed">
       <thead>
  <tr>
    <th (click)="sortTable('name')">
      Name
      <i [ngClass]="sortColumn === 'name' ? (sortAscending ? 'bi bi-caret-up-fill' : 'bi bi-caret-down-fill') : ''"></i>
    </th>
    <th (click)="sortTable('startTime')">
      Start Time
      <i [ngClass]="sortColumn === 'startTime' ? (sortAscending ? 'bi bi-caret-up-fill' : 'bi bi-caret-down-fill') : ''"></i>
    </th>
    <th >
      End Time
    </th>
    <th (click)="sortTable('cost')">
      Cost/hour
      <i [ngClass]="sortColumn === 'cost' ? (sortAscending ? 'bi bi-caret-up-fill' : 'bi bi-caret-down-fill') : ''"></i>
    </th>
  </tr>
</thead>

        <tbody>
          <tr *ngFor="let rule of selectedParkingSystemRules">
            <td>{{ rule.name }}</td>
            <td>{{ rule.startTime }}</td>
            <td>{{ rule.endTime }}</td>
            <td>{{ rule.cost }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</body>
</html>
